#content {
	width: 100%;
	text-align: center;
}

canvas {
	display: inline;
	border: 1px solid black;
	z-index: 1
}

h1 {
	text-align: center;
	font-family: Cambria;
}

h2 {
	text-align: left;
	font-size: 20px;
	font-family: Georgia;
	color: #FFF8E7;
}

h3 {
	padding-left: 8px;
	font-size: 20px;
	font-family: Cambria;
}

ul {
	text-align: left;
}

td {
	width: 200px;
}

code {
	font-weight: bold;
}

#loadingtext {
	position:absolute;
	top:250px;
	left:150px;
	font-size:2em;
	color: white;
}

input[type = "button"] {
	height: 100px;
	width: 100px;
	z-index: 2;
}

input[type = "text"] {
	height: 30px;
	width: 60px;
	padding-top: 4px;
	font-size: 16px;
	z-index: 2;
}

input[type = "range"] {
	width: 100px;
}

input[type = "image"] {
	height: 600px;
	width: 330px;
	z-index: 1;
}